.subscribe-body {
    background-color: #E5E5E5;
}
.subscribe-footer {
    background-color: #2D3651;
}
.subscribe-body__container {
    padding-left: 310px;
    padding-right: 310px;
    padding-top: 90px;
    padding-bottom: 90px;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 80px;
}
.subscribe-title {
    font-family: "Roboto Slab", serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.subscribe-img {
    position: relative;
    img {
        max-width: 100%;
    }

    &:before {
        content: "";
        position: absolute;
        width: 1px;
        height: 200px;
        background-color: #707070;
        left: -40px;
        transform: translateY(50%);
    }
}
